.loader {
  width: var(--loader-size, 3rem); /* Default size */
  height: var(--loader-size, 3rem); /* Default size */
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: inherit;
  height: inherit;
  border: calc(min(var(--loader-size, 3rem), 1rem) * 0.125) solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}

.loader::after {
  border-color: #f97316;
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
