@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Virgil";
  src:
    url("/font/Virgil.woff") format("woff"),
    url("/font/Virgil.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
